$night-mode-font-primary: #ffffff;
$night-mode-font-secondary: #767D92;

$headings-color-primary: #DCF8C6;
$headings-color-dark: #6e9075;
$form-label-primary: #34B7F1;
$vue-logo-green: #41B883;
$vue-logo-light-accent: #14fff7