* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #081B33;
}
